{% extends "./base_index.html" %}
{% load static %}


{% block title %}{{ node.name }} Requestors {% endblock %}
{% block title_body %}{{ node.name }} (<a href="{{ node.url }}" target="_blank">{{ node.url }}</a>) / Requestors {% endblock %}


{% block main %}

{% if not error_message %}

<h4>Select cluster member</h4>


<div class="dropdown">
  <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Cluster member
  </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'pisma:requestors_real' node.id 'all'%}">all</a>
        {% for member in cluster_members %}
        <a class="dropdown-item" href="{% url 'pisma:requestors_real' node.id member.nodeId%}">{{ member.nodeId }}</a>
        {% endfor %}
    </div>
</div>

{% if real_node_id %}

{% for node in node_ids %}
<h4>Requestors for {{ node }}</h4>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Requestor ID</th>
        <th>Requestor type</th>
        <th>Operator ID</th>
        <th>Application</th>
        <th>Thread names</th>
    </tr>
    </thead>
    <tbody>
    {% for requestor in requestors %}
    {% if requestor.nodeId == node %}
    <tr>
        <th scope="row">{{ requestor.requestor_id }}</th>
        <td>{{ requestor.requestor_type }}</td>
        <td>{{ requestor.operator_id }}</td>
        <td>{{ requestor.application }}</td>
        <td>{{ requestor.thread_names }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

{% endfor %}

{% endif %}

{% endif %}

{% endblock %}

