{% extends "./base_index.html" %}
{% load static %}

{% block title %}New node{% endblock %}
{% block title_body %}New node{% endblock %}

{% block main %}

<form class="form-signin" action="{% url 'pisma:new_node'%}" method="post">
    {% csrf_token %}

    <p><input type="text" name="name" id="name" class="form-control" placeholder="Name" required autofocus></p>
    <p><input type="text" name="url" id="url" class="form-control" placeholder="URL" required></p>
    <p>
        <label for="production_level">Production level</label>

        <select id="production_level">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </p>
    <p><input type="text" name="login" id="login" class="form-control" placeholder="Login" required></p>
    <p><input type="password" name="password" id="password" class="form-control" placeholder="Password" required></p>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>

</form>

{% endblock %}